# Docker related
.dockerignore
Dockerfile
docker-compose.override.yml
docker

# Dot files (.env, .git, ...)
.*
!.pnp.js
!.yarnrc.yml
!.yarn/plugins
!.yarn/releases

# Log files
logs
*.log

# Temp files
tmp
*.tmp

# Deps directories
node_modules
node_modules/.prisma
**/node_modules
**/node_modules/.prisma

# Build directories
**/.next

# Other resources
README.md
