# used in tandem with package.json engines section to only use yarn
engine-strict=true

# for pnpm / prisma
# @link https://pnpm.io/npmrc#hoist-pattern
hoist-pattern[]=*prisma*
hoist-pattern[]=@prisma/client


